version: '2.3'

# comment/uncomment services according to pereference

services:

  mongo:
    extends:
      file: ./services/mongo/docker-compose.yml
      service: mongo
    container_name: ${PROJECT}-mongo

  redis:
    extends:
      file: ./services/redis/docker-compose.yml
      service: redis
    container_name: ${PROJECT}-redis

  redis-commander:
    extends:
      file: ./services/redis/docker-compose.yml
      service: redis-commander
    container_name: ${PROJECT}-redis-commander
    depends_on:
      - redis
