version: '2.3'

services:

  minio:
    image: minio/minio
    hostname: minio
    ports:
      - 9000:9000
    volumes:
      - ./data.tmp:/data
    environment:
      - MINIO_ACCESS_KEY=minio
      - MINIO_SECRET_KEY=miniopass
    command: server /data
